OddLengthStringDiagonalPattern.class
MinimumDistanceBetweenWords.class
MinimumDistanceBetweenAlphabets.class
ThreeStringPattern.class
DivisibleByNCombinationOfDigits.class
ReverseStringRankAmongSubstrings.class